<!DOCTYPE HTML>
<html>
	<head>
		<title>Feedback Loop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Who we are</a></li>
							<li><a href="#two">What we do</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner" style="text-align: center;">
							<a class="image"><img src="static/images/logo.jpg"  alt="" /></a>
							<h1>Feedback Loop</h1>
							<p>As part of Gallery Nights Milwaukee 2022, an interactive/multimedia art exhibition put on in association with The Real Tinsel Gallery and with sponsorship from Tier 1 Gaming Lounge will feature local Milwaukee artists. Join us and join our creative play for two nights only, 6-9pm on Friday April 22 and Saturday the 23rd at 1001 West Historic Mitchell Street, just a few doors down from The Real Tinsel. Audience members become players when the art can’t exist without interaction. We need you to make our visions come to life!</a>.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a class="image"><img src="static/images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Anna Emerson</h2>
									<p>Sonic Ink (2019-2022)
										Desktop application, thermal printer.
										Free download for Windows and Mac. Donations accepted.
										Sonic Ink is a novel painting application made with MaxMSP. Instead of stylus pressure
										controlling the size of the digital brush, as is typical, brush diameter is controlled by the
										amplitude (loudness) of live audio. This feature allows the user to paint with the participation of
										ambient sound, their own voice, or any noise-maker.
										By using a factor as unpredictable as ambient noise in a mark-making tool, Sonic Ink
										encourages an approach to painting that is unconcerned with tight control and preparation.
										Instead, it facilitates experimentation, present-mindedness, and embracing chance as a
										collaborator.
										Anna Emerson is currently completing her final weeks of undergraduate coursework at the
										University of Wisconsin-Milwaukee, where she studies art and philosophy. Emerson is interested
										in the many ways beings relate to their environments, and how those relations are impacted by
										existing infrastructures—both physical and digital.
										See more of Anna’s artwork and writings at emersauce.com
										Send a note, or request a copy of Sonic Ink to emersauce@gmail.com</p>
									
								</div>
							</div>
						</section>
						<section>
							<a class="image"><img src="static/images/pic02.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Ian Izard</h2>
									<p> Underworld band, spring 2022, programmed in Max 8
										I’ve always been interested in music, but it’s hard finding time to learn new things about the medium while also juggling work, art, and other responsibilities interests. The Underworld-Band originally started as a generative art project for school, but has since grown to be increasingly more interactive as the audience takes on the role of producer working with the mythical Orpheus and Euridice to produce inhuman music and imagery.
										Ultimately, I imagine the experience evolving across many exhibitions, but for now, here’s a taste of what’s to come.</p>
									
								</div>
							</div>
						</section>
						<section>
							<a class="image"><img src="static/images/adam.jpg" alt="" data-position="50% 50%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Adam White Kathleen Ossers </h2>
									<p>Between Rituals, 2021-22, time-based media, the videos on display are simultaneous records of my first year on hormone replacement therapy and the final days at my previous home on 5th and Bruce St. in Walker's Point. The apartment has since been demolished, but my memories of the space are potent; they include new routines, gained confidence, and a self exploration that pulses a humming continuum of joy and despair. A late night recording of me in my new home in Riverwest takes its turn in the loop as well. Playing on its own screen is a diaristic love letter to myself written one month prior to starting HRT. I invite the audience to step into a most beautiful space: finite and vulnerable. 

										Adam Kathleen White Ossers
										
										Adam White is a time-based media artist residing in Milwaukee, WI. He is the small business owner of docMyArt and works as a Creative Content Manager at MARN. In all his works he is perpetually drawn to memorializing the mundane.
										
										@docmyart 
										ckossers.com</p>
									
								</div>
							</div>
						</section>
						<section>
							<a class="image"><img src="static/images/pic04.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Monique foster </h2>
									<p>Pioneer Visual Jockey, 2021, Max 8 software and Pioneer DJ board, Not for Sale
										Interaction/Concept
										Viewers are encouraged to interact with the DJ board. The visuals displayed are audio reactive
										and will produce patterns, regardless of engagement, as long as there is sound. However, the
										buttons, slides, and knobs each control different elements of the visual display, similar to that in
										audio mixing, and viewers are invited to participate in the experience of manipulating and
										altering the visuals.
										Description of work
										Pioneer Visual Jockey is an interactive performance tool that controls audio reactive visuals.
										Using the Pioneer Disc Jockey 400 controller and a customized Max 8 patch, participants are
										able to manipulate the visual outcome that is projected on the walls of the room. Pioneer Visual
										Jockey takes a unique turn from giving users the ability to mix audio and songs, to now giving
										users the ability to “mix” and manipulate visual displays.
										Monique Foster
										Monique is a senior at UWM’s Peck School of the Arts, majoring in sculpture as well as digital
										fabrication and design. She often combines digital and analog processes in her projects.
										Monique is drawn to experimenting with new materials and processes, always seeking to try
										something she has never done before. 

										</p>
									
								</div>
							</div>
						</section>
						
						<section>
							<a class="image"><img src="static/images/carter.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Carter Voras</h2>
									<p>Floating Grounded, 2021. 
										Home Videos

										2022
									
										Interactive Installation
									
										NFS
									
									
									Home Videos explores the limits of privacy on the internet, and the relationship between consumer and content.
									
									
									The collection of videos shown are scrubbed from YouTube, restricted to old videos with fewer views. These videos, unlike much of the content we might engage in regularly, aren’t necessarily advertising an aesthetic or lifestyle. With this in mind, it can almost feel wrong to engage in this type of content because of how deeply personal it is. With materials gathered from my bedroom, I invite you into this space as an invasion of my own privacy.
									
									
									Carter Voras (They/ Him)
									
									
										Carter Voras is an artist based in Milwaukee, Wisconsin. They graduated from Peck School of the Arts in 2021 under the Studio Arts and Design minor program with a focus in painting and drawing. Their latest project is a series of abstract works entitled Be Held. 
									
									
										Website: www.cartervoras.com 
									
										Instagram: @barflord_ </p>
								</div>
							</div>
						</section>
						<section>
							<a class="image"><img src="static/images/pic06.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>David Livingston</h2>
									<p>Open Wound 2022, Unity and Blender
										Artist Bio: David Livingston creates distorted interactive landscapes using digitally scanned abstract drawing and paintings. His work has satirized political propaganda through public performances and multimedia art installations that explore the intersection between perception, politics, and Carl Jung’s collective unconscious. The artist has exhibited his work internationally in galleries and non-profit art spaces in Milwaukee, Wisconsin, New York City, Paris, and beyond. He received his MFA in painting from Pratt Institute in Brooklyn, NY in 2011, and teaches interactive digital media courses in and around Milwaukee.</p>
									
								</div>
							</div>
						</section>
						<section>
							<a class="image"><img src="static/images/serens.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Seren Pellett</h2>
									<p>Floating Grounded, 2021. 

										In this series of paintings, I have layered paint across different mediums; projected video, painting and drawing on plexiglas, acrylic paint on canvas. In 2020, I found myself falling madly in love with creating paint brush strokes that hang in mid-air and can be scaled to any height in virtual reality. These objects needed a new method of display without a headset on, so that they would be more accessible. Since I am inspired by nature and light, I went back to observation so that I could build an image with three mediums in tandem, which is much easier when referencing the natural world than an invented form in virtual reality. In order to eventually depict virtual reality, I am applying an old process of animation called rotoscoping, in which live action footage is traced frame by frame onto glass.  </p>
										
								</div>
							</div>
						</section>
				</section>		

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>What we do</h2>
							<p>The works in the show include game design software, painting and sculpture combined with screens and projection, interactive video collage, audio visualization software, and much more! 
								Interactive and multimedia art is fundamentally collaborative since bridging the gap between the physical and the digital involves combining expertise from disparate areas of work and study, so artists working this way benefit greatly from having a community to play and learn with. Audience members can expect to move through invented environments, interact with light and sound in new ways, break their own path on narrative journeys through time, and even see the breaking point between traditional art and something completely new.
								</p>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Want to know more, or get involved? We would love to meet you!</p>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2917.3936213111974!2d-87.9264768842505!3d43.01210140166569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880519f03b2b55ab%3A0xd9c70be470e69abf!2s1001%20W%20Historic%20Mitchell%20St%2C%20Milwaukee%2C%20WI%2053204!5e0!3m2!1sen!2sus!4v1650131287466!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">serenswork@gmail.com</a>
										</li>
					
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://www.instagram.com/serenswork/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>