<!DOCTYPE HTML>
<html>
	<head>
		<title>Feedback Loop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<a href="#" class="image featured"><img src="static/images/logo.jpg" alt="logo" /></a>
							</header>
							
						</div>
				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Interactive and Multimedia Art Exhibition</h2>
						<p><strong>April 22&23 2022 6-9pm</strong></p>
						<p>
							As part of Gallery Nights Milwaukee 2022, an interactive/multimedia art exhibition will be put on in association with The Real Tinsel Gallery and with sponsorship from 
							Tier 1 Gaming Lounge, and with suport from the Milwaukee Esports Alliance. The show will feature seven local Milwaukee artists. 
							Join us and join our creative play for two nights only, 6-9pm on Friday April 22 and Saturday the 23rd at 1001 West Historic Mitchell Street, 
							just a few doors down from The Real Tinsel. 
							Audience members become players when the art can’t exist without interaction. We need you to make our visions come to life! 
						</p>
					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel">
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="static/images/pic01.jpg" alt="cloud" /></a>
							<header>
								<h3><a href="#">Title of Artwork</a></h3>
							</header>
							<p>Adam White bio</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="static/images/pic02.jpg" alt="men" /></a>
							<header>
								<h3><a href="#">Title of Artwork</a></h3>
							</header>
							<p>Carter  Voras bio</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="static/images/pic03.jpg" alt="tree" /></a>
							<header>
								<h3><a href="#">Title of Artwork</a></h3>
							</header>
							<p>Seren Pellett bio</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="static/images/pic04.jpg" alt="gold dust" /></a>
							<header>
								<h3><a href="#">Title of Artwork</a></h3>
							</header>
							<p>Monique foster bio </p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="static/images/pic05.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Title of Artwork</a></h3>
							</header>
							<p>Ian Izard bio</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="static/images/pic06.jpg" alt="selfie" /></a>
							<header>
								<h3><a href="#">Title of Artwork</a></h3>
							</header>
							<p>David Livingston bio</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="static/images/pic07.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Title of Artwork</a></h3>
							</header>
							<p>Anna Emerson bio</p>
						</article>


				
					</div>
				</section>

			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<a href="#" class="image featured"><img src="static/images/pic08.jpg" alt="" /></a>
						<header>
							<h2><a href="#">What is interactive and multimedia art?</a></h2>
							<p>
								
								It's fundamentally collaborative since the audience's participation is what makes the art. 
								The same way performance art such as theater and dance require action, interaction, and participation, so do interactive art installations. 
								Since they often bridge the gap between the physical and the digital by combining expertise from disparate areas of work and study, 
								artists working this way benefit greatly from having a community to play and learn with. Audience members can expect to move through invented 
								environments, interact with light and sound in new ways, break their own path on narrative journeys through time, 
								and even see the divide between traditional art and something completely new. 

							</p>
						</header>
						<p>
							The art works in this show include game design software, 
							painting and sculpture combined with screens and projection, interactive video collage, and
							audio visualization software.
						</p>
					</article>

				</div>
			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Want to know more?</h3>
										</header>
										<p>Contact me at serenswork@gmail.com OR click the link below</p>
										<ul class="icons">	
											<li><a href="https://www.instagram.com/serenswork/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li>
										</ul>
									</div>

							</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>